@media screen and (max-width: 768px) {
  .contact {

    display:none;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    background-color: $red;
    width: 350px;
    margin: 0 auto;
    margin-top: -100vh;
    margin-left: 250px;
    height: 100vh;
    position: absolute;
  }
  .input, .send {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 1% 1% 1% 3%;
    outline: none;
  }
  textarea {
    height: 150px;
    resize: none;
  }
  .send {
    width: 84.5%;
    background-color: $green;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    outline: none;
    border: 1px solid $green;
  }
  .input {
    border: 1px solid $white;
    text-transform: uppercase;
    margin-bottom: 5%;
    padding: 4% 0 4% 4%;
    outline: none;
  }
  .title {
    font-family: $raleway;
    font-size: 20px;
    border: none;
    text-align: center;
    margin-left: 40%;
  }

  input {
    display: none
  }
  .contact-show {
    opacity: 0;
    height: auto;
    overflow: hidden;
  }
  input[type=checkbox]:checked + div {
    opacity: 1;
  }
  .contact-form {
    padding: 20px;
    margin-top: 15%;
  }
}