.container {
  display: flex;
}

//tablet pc
@media screen and (min-width: 768px) {
  .content {
    height: 100vh;
    min-width: 100vw;

    &:nth-child(1){
      background-image:url("../images/home_banner1.jpg");
      width:100%;
      height:auto;
      background-size:contain;
    }

    .content-half{
      width:50vw;
      height: 100vh;
    }
  }
}
