.footer {
  background-color: $green;
  height:100%;
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    height: 100vh;
  }
}

.social {
  display: block;
  height: auto;
  max-width: 40%;
  width: auto;
  margin: 0 auto;
  padding:6px;
  border: 2px solid $white;
  &:hover {
    background-color: $white;
    transition: 0.2s;
  }
  &:nth-child(1) {
  border: 1px solid $green;
  }
  &:nth-child(2) {
    margin-top:20px;
  }
  &:nth-child(3) {
    margin-top:20px;
  }
  &:nth-child(4) {
    margin-top:20px;
  }
  &:nth-child(5) {
    position: absolute;
    bottom: 30px;
    width: 50px;
    height: auto;
    border: none;
    margin-left: 5px;
  }
}


