.footer {
  background-color:$green;
  .social{
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    border-height: 2px;
    border-color: $white;
    &:hover{
      background-color:$white;
    }
   &:nth-child(4){
     position: absolute;
     bottom: 0;
     width: 50px;
     height: auto;
   }
  }


}


