input[type="checkbox"]#menu-toggle {
  display: none;
}

label[for="menu-toggle"] {
  z-index: 1;
  position: absolute;
  display: block;
  width: $hamburger-width;
  height: $hamburger-height;
  //border: $hamburger-line-width * 6 solid transparent;
  //background: $hamburger-background-color;
  &:hover {
    cursor: pointer;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border: 70px solid transparent;
    border-left-color: $hamburger-background-color;
    border-top-color: $hamburger-background-color;

  }


  .hamburger-icon {
    position: absolute;
    height: $hamburger-line-width;

    top: 35px;
    left: 20px;
    right: 0;
    width: 100%;

    background: $hamburger-line-color;
    transition: all $hamburger-animation-speed;
    border-radius: $hamburger-line-width/2;

    &:nth-of-type(2) {

      left: 20px;
      margin-top: -5 * ($hamburger-line-width/2);
    }

    &:last-of-type {
      bottom: 0;
      top: 47px;
      right: 0;
    }

  }
}


input[type="checkbox"]#menu-toggle:checked ~ .label-for-check {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:-1;
    border: 70px solid transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    transition: visibility 400ms, opacity 400ms;


  }
    //hoofdpijn!!
    background-color: transparent;
   // border: $hamburger-line-width * 6 solid transparent;
    transition: visibility 400ms, opacity 400ms;

  .hamburger-icon:first-of-type,
  .hamburger-icon:last-of-type {
    width: $hamburger-height;
    top: 50%;
    left: 50%;
    right: auto;
    margin-top: 6 * ($hamburger-line-width / 2);
    margin-left: 0.1 * ($hamburger-height / 2);
  }
  .hamburger-icon:first-of-type {
    transform: rotate(45deg);
  }

  .hamburger-icon:nth-of-type(2) {
    opacity: 0;
    left: 50%;
    width: 0;
    right: 50%;
  }
  .hamburger-icon:last-of-type {
    transform: rotate(-45deg);
  }

}

input[type="checkbox"]:checked ~ .navigation  {
  opacity: 1;
  visibility: visible;

  transition:
    visibility $hamburger-animation-speed,
    opacity $hamburger-animation-speed;


}
