// desktop version
@media screen and (min-width: 768px) {
  .container {
    min-width: 400vw;
    min-height: 100vh;
  }
  .content {
    background-color: $red;
    display: inline-block;
    &:nth-child(1) {
      background-color: $red;
      width: 25%;
    }
    &:nth-child(2) {
      background-color: $blue;
      width: 25%;
    }
    &:nth-child(3) {
      background-color: $red;
      width: 25%;
    }
    &:nth-child(4) {
      background-color: $blue;
      width: 20.2%;

    }
  }
  .footer {
    float: right;
    height:100vh;
     img {
       display:block;
     }
  }
}
