body {
  font-family: $raleway;

  p{
    font-weight: 400;
    font-style: normal;
    text-align:center;
  }

  h2{
    font-weight: 800;
    font-style: normal;
    text-align:center;

  }
  h3{
    font-weight: 700;
    font-style: normal;
    text-align:center;

  }
  h4{
    font-weight: 500;
    font-style: normal;
    text-align:center;
  }
  h5{
    font-weight: 800;
    font-style: italic;
    text-align:center;
  }
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,800i');
