body {
  font-family: $raleway;
  color: $white;
  p{
    font-weight: 400;
    font-style: normal;
    text-align:center;
  }
span{
  border-bottom: 2px solid $white;
}
p, h2, h3, h4{
  margin: 0 auto;
  font-size: 40px;
  position: relative;
  text-align:center;
  top: 50%;
  transform: translateY(-50%);
}
  h2{
    text-transform: uppercase;
    font-weight: 800;
    font-style: normal;
  }
  h3{
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
  }
  h4{
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
  }
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,800i');
