.content-row{
  display:flex;
  position:relative;
  flex-wrap: wrap;

  .content{
    // content
    &-box {
      // Box

      &--small{
        width:25vw;
        height:50vh;
      }
      &--medium{
        width:45vw;
      }
      &--large{
        width:55vw;
        height:25vh;
      }


      &--green {
        background-color: $green;
      }
      &--red {
        background-color: $red;
      }
      &--blue {
        background-color: $blue;
      }

      &--image {
        background-image:url("../images/fair_trade.png");
        width:45vw;
        height:50vh;
        background-size:cover;

      }
    }

  }

}
