// colors
$blue:#00C3e5;
$red: #F56462;
$green: #75C398;
$white: #fff;

//fonts
$raleway: Raleway;

//hamburger menu-toggle
$hamburger-width: 3rem;
$hamburger-height: 2rem;
$hamburger-line-width: 0.3rem;
$hamburger-background-color: $blue;
$hamburger-background-green: $green;
$hamburger-line-color: $white;
$hamburger-animation-speed: 550ms;
